<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.entry-title:after {
  display: none;
}
.entry-title:before {
    display: none;
}
.entry-title {
    font-size: 32px;
}
.entry-title, .entry-title a, .widget-title, .widget-title a {
    line-height: inherit;
    color: #00a3d7;
}
h1, h2 {
    color: #01a2d7;
}
</style>
<!-- end Simple Custom CSS and JS -->
