<!-- start Simple Custom CSS and JS -->
<style type="text/css">
}
.focus-box h3 {
    color: #000000;
}
.focus-box .service-icon {
	width: 150px;
	height: 150px;
	border: 0px solid #01a3d7;
}
.focus-box p {
    color: #000000;
}</style>
<!-- end Simple Custom CSS and JS -->
